/*css 初始化 */
html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img,
.row {
  margin: 0;
  padding: 0;
  /*清除元素的内外边距*/
}
fieldset,
img,
input,
button {
  border: none;
  padding: 0;
  margin: 0;
  outline-style: none;
  /*外面环绕线*/
}
ul,
ol {
  list-style: none;
}
/*去掉原样式中的小黑点*/
input {
  padding-top: 0;
  padding-bottom: 0;
  font-family: "SimSun", "宋体";
  /*字体的自动识别*/
}
select,
input {
  vertical-align: middle;
}
.w {
  width: 1100px;
  padding: 10px 40px 40px 40px;
}
/*输入字居中显示*/
select,
input,
textarea {
  font-size: 12px;
  margin: 0;
}
/**/
textarea {
  resize: none;
  /*不可以随意拖动*/
}
/*防止拖动*/
img {
  border: 0;
  vertical-align: middle;
  /*  去掉图片底部默认的3像素空白缝隙*/
}
table {
  border-collapse: collapse;
  /*合并外连线*/
}
body {
  font: 12px/150% Arial, Verdana, "\5b8b\4f53";
  /*unitedCode的写法，宋体的写法*/
  color: #666;
  /*150%基于当前字体尺寸的百分比行间距*/
  background: #fff;
}
.clearfix:before,
.clearfix:after {
  /*清除浮动，最好最标准的写法*/
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
  /*IE/7/6*/
  /*兼容IE6下的写法*/
}
a {
  color: #666;
  /*a 标签是不继承颜色 的*/
  text-decoration: none;
}
a:hover {
  color: #C81623;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-decoration: none;
  font-weight: normal;
  font-size: 100%;
}
s,
i,
em {
  /*一般是起装饰作用*/
  font-style: normal;
  /*去掉原有的样式*/
  text-decoration: none;
  /*去掉下划线或是删除线*/
}
.col-red {
  color: #C81623 !important;
  /*京东主色调*/
}
/*公共类*/
.al {
  text-align: left;
}
.ac {
  text-align: center;
}
.ar {
  text-align: right;
}
.hide {
  display: none;
}
/*css初始化完成*/
/*公共部分开始*/
/*头部开始*/
.container-header {
  background: #666;
  width: 100%;
  height: 50px;
  padding: 0;
}
.container-header .row {
  margin: 0;
}
.container-header .row span {
  line-height: 50px;
  padding-left: 100px;
  color: #eee;
  font-family: 'Microsoft Yahei';
}
/*头部结束*/
/*logo开始*/
.container-section {
  padding: 0;
  background: url(../img/33.jpg);
  width: 100%;
  height: 100px;
  position: relative;
}
.container-section .row {
  padding: 0;
  margin: 0;
}
.container-section .row .ctrl-1 {
  padding: 0;
  margin: 0;
}
.container-section .row .ctrl-1 img {
  width: 140px;
  height: 140px;
  position: absolute;
  left: 150px;
  top: -20px;
}
.container-section .row .ctrl-2 {
  padding: 0;
  margin: 0;
  height: 100px;
}
.container-section .row .ctrl-2 span {
  color: #fff;
  font-size: 40px;
  line-height: 100px;
}
/*logo结束*/
/*导航开始*/
.navbar {
  margin-bottom: 0;
  width: 60%;
  background: pink;
  margin-left: 20%;
}
.navbar .container-fluid {
  padding: 0;
  width: 100%;
}
.navbar .container-fluid ul {
  width: 100%;
}
.navbar .container-fluid ul li {
  text-align: center;
  width: 25%;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  font-family: 'Microsoft Yahei';
}
.navbar .container-fluid ul li a:hover {
  background: #E13FA6;
  color: #fff;
}
/*导航结束*/
/*底部开始*/
.container-footer {
  margin-top: 200px;
  height: 100%;
  background: url(../img/33.jpg);
  width: 100%;
  height: 180px;
}
.container-footer .row .footer-top {
  height: 200px;
  padding-top: 40px;
}
.container-footer .row .footer-top p {
  color: #fff;
  text-align: center;
  padding: 10px 0 0 10px;
  font-family: 'Microsoft Yahei';
  font-size: 15px;
}
.container-footer .row .footer-bottom {
  padding-left: 150px;
}
.container-footer .row .footer-bottom img {
  margin-top: 40px;
  width: 120px;
  height: 120px;
}
/*底部结束*/
/*公共部分结束*/
