.cart-header h4 {
  text-align: center;
  height: 44px;
  line-height: 44px;
}
/*主体*/
/*头部开始*/
.cart-body {
  background: #eee;
  /*头部结束*/
  /* shop开始*/
  /* shop结束*/
  /* <!--购物的物品开始-->*/
}
.cart-body .safe {
  height: 34px;
  line-height: 34px;
  background: #fff;
  text-align: center;
  border-bottom: 1px solid #ccc;
}
.cart-body .safe p {
  font-size: 12px;
  padding-left: 20px;
  display: inline-block;
  position: relative;
}
.cart-body .safe p::before {
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  left: 0;
  top: 8px;
  background: url(../images/safe_icon.png) no-repeat;
  -webkit-background-size: 100% 100%;
  /*兼容*/
  background-size: 100% 100%;
}
.cart-body .shop {
  border-top: 1px solid #ccc;
  background: #fff;
  margin-top: 20px;
}
.cart-body .shop .checkbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 34px;
  background: url(../images/shop-icon.png) no-repeat;
  padding: 7px 10px;
  -webkit-background-size: 50px 100px;
  background-size: 50px 100px;
  -webkit-background-origin: content-box;
  background-origin: content-box;
  -webkit-background-clip: content-box;
  background-clip: content-box;
}
.cart-body .shop .shop-title {
  height: 34px;
  position: relative;
  padding-left: 40px;
  line-height: 34px;
  border-bottom: 1px solid #ccc;
}
.cart-body .shop .shop-title .title-right .jd {
  margin-top: 9px;
  width: 15px;
  height: 15px;
  background: url(../images/buy-logo.png) no-repeat;
  -webkit-background-size: 15px 15px;
  background-size: 15px 15px;
}
.cart-body .shop .shop-title .title-right .free {
  font-size: 12px;
  color: #e92322;
}
.cart-body .shop-con {
  height: 100%;
  padding-left: 40px;
  position: relative;
}
.cart-body .shop-con .checkbox {
  background-position: -25px 0;
}
.cart-body .shop-con .shop-info {
  height: 100%;
  width: 100%;
  padding: 10px;
}
.cart-body .shop-con .shop-info .pic {
  width: 80px;
  height: 80px;
  display: block;
  float: left;
}
.cart-body .shop-con .shop-info .pic img {
  width: 100%;
}
.cart-body .shop-con .shop-info .describe {
  height: 100%;
  overflow: hidden;
  padding-left: 10px;
}
.cart-body .shop-con .shop-info .describe .hw {
  height: 32px;
  line-height: 16px;
  overflow: hidden;
  /*好似无什么鸟用*/
}
.cart-body .shop-con .shop-info .describe .price {
  line-height: 22px;
  color: #e92322;
}
.cart-body .shop-con .shop-info .describe .option {
  /*盒子盖子动画起来的*/
}
.cart-body .shop-con .shop-info .describe .option .number > * {
  float: left;
  width: 32px;
  height: 24px;
  border: 1px solid #ccc;
  text-align: center;
  line-height: 20px;
  color: #ccc;
  margin-left: -1px;
}
.cart-body .shop-con .shop-info .describe .option .number span:nth-child(1) {
  border-radius: 3px 0 0 3px;
}
.cart-body .shop-con .shop-info .describe .option .number span:nth-child(3) {
  border-radius: 0 3px 3px 0;
}
.cart-body .shop-con .shop-info .describe .option .del {
  width: 19px;
  height: 21px;
}
.cart-body .shop-con .shop-info .describe .option .del .del-up {
  float: left;
  height: 5px;
  width: 19px;
  background: url(../images/delete_up.png) no-repeat;
  -webkit-background-size: 100% 100%;
  /*兼容*/
  background-size: 100% 100%;
  /*动画*/
  -webkit-transition: transform 0.5s;
  transition: transform 0.5s;
  /*设置中心点*/
  -webkit-transform-origin: left;
  transform-origin: left;
}
.cart-body .shop-con .shop-info .describe .option .del .del-down {
  margin-top: -2px;
  float: left;
  width: 18px;
  height: 18px;
  background: url(../images/delete_down.png) no-repeat;
  -webkit-background-size: 100% 100%;
  /*兼容*/
  background-size: 100% 100%;
}
.cart-body .shop-con .shop-info .describe .option .open .del-up {
  transform: rotateZ(-15deg);
}
/* <!--购物的物品结束-->*/
/*模态框开始*/
.winbox {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: rgba(0, 0, 0, 0.3);
  display: none;
}
.winbox .removebox {
  position: absolute;
  left: 10%;
  top: 200px;
  width: 80%;
  padding: 15px;
  background-color: #fff;
  border-radius: 15px;
  text-align: center;
}
.winbox .removebox p {
  line-height: 50px;
  font-size: 18px;
  border-bottom: 1px solid #ccc;
}
.winbox .removebox .btn-box {
  padding-top: 10px;
}
.winbox .removebox .btn-box a {
  width: 45%;
  height: 36px;
  border-radius: 5px;
  background-color: #e92322;
  color: #fff;
  line-height: 36px;
}
.winbox .removebox .btn-box .cancel {
  border: 1px solid #ccc;
  color: #333;
  background-color: #fff;
}
/*模态框结束*/
