/**/
/*轮播图开始*/
/*轮播图结束*/
/*公司简介开始*/
.profile {
  margin-top: 364px;
  height: 800px;
}
.profile ul {
  width: 100%;
  margin-left: 20px;
}
.profile ul li {
  height: 100px;
  width: 100%;
  list-style: none;
  text-align: center;
  line-height: 100px;
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Microsoft Yahei';
}
.profile-left {
  float: left;
  width: 15%;
  margin-top: 5%;
}
.profile-right {
  float: left;
  width: 80%;
  margin-left: 5%;
  margin-top: 5%;
}
.profile-right div {
  float: left;
}
.profile ul li:hover {
  background: #daa520;
  color: #fff;
  cursor: pointer;
}
.profile-right .profile-right-top img {
  width: 100%;
}
.profile-right .profile-right-top p {
  font-size: 14px;
  padding-top: 10px;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.active1 {
  background: #daa520;
}
/*公司简介结束*/
