/*先不要把头部尾部拿出来，等确定好了，再把公共颜色分出来*/
body .yd-layout {
  height: 2000px;
  width: 100%;
  position: relative;
  /*头部的video开始*/
  /*头部的video结束*/
  /*轮播图开始*/
  /*轮播图结束*/
  /*轮播图下面的第一部分内容开始*/
  /* 右手边的上面轮播图*/
  /*轮播图下面的第一部分内容结束*/
  /*轮播图下面的第二部分内容开始*/
  /*轮播图下面的第二部分内容结束*/
}
body .yd-layout header {
  position: relative;
  height: 774px;
  /*视频的高度*/
  /*头部的video中间的文字*/
}
body .yd-layout header video {
  height: auto;
}
body .yd-layout header .jumbotron1 {
  width: 100%;
}
body .yd-layout header .jumbotron1 p {
  width: 100%;
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0);
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  opacity: 0;
  animation: da 2s linear 2s forwards;
}
body .yd-layout header .jumbotron1 span {
  width: 100%;
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0);
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -54%);
  opacity: 0;
  animation: da 2s linear 4s forwards;
}
body .yd-layout header .jumbotron1 .ydlm-jiantou i {
  position: absolute;
  top: 82%;
  left: 50%;
  transform: translate(-50%, -82%);
}
body .yd-layout header .jumbotron1 .ydlm-jiantou i img {
  width: 80px;
  height: 80px;
}
body .yd-layout .swiper-container {
  position: relative;
  width: 100%;
  height: 400px;
}
body .yd-layout .swiper-container .swiper-wrapper .noe img {
  width: 100%;
}
body .yd-layout .swiper-container .swiper-wrapper .noe .swiper-noe {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(236, 155, 230, 0.6);
  width: 30%;
  height: 100%;
  z-index: 999;
}
body .yd-layout .swiper-container .swiper-wrapper .two img {
  width: 100%;
}
body .yd-layout .swiper-container .swiper-wrapper .two .swiper-two {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(171, 187, 236, 0.6);
  width: 30%;
  height: 100%;
  z-index: 999;
}
body .yd-layout .swiper-container .swiper-wrapper .three img {
  width: 100%;
}
body .yd-layout .swiper-container .swiper-wrapper .three .swiper-three {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(237, 219, 135, 0.6);
  width: 30%;
  height: 100%;
  z-index: 999;
}
body .yd-layout .swiper-container .swiper-wrapper .four img {
  width: 100%;
}
body .yd-layout .swiper-container .swiper-wrapper .four .swiper-four {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(78, 229, 200, 0.6);
  width: 30%;
  height: 100%;
  z-index: 999;
}
body .yd-layout section {
  height: 400px;
  position: relative;
  /* 右手边的下面轮播图*/
  /* 左边图片 */
}
body .yd-layout section #swiper2 {
  float: right;
  width: 30%;
  height: 200px;
}
body .yd-layout section #swiper2 .swiper-wrapper .noe {
  background: red;
}
body .yd-layout section #swiper2 .swiper-wrapper .two {
  background: pink;
}
body .yd-layout section #swiper2 .swiper-wrapper .three {
  background: yellow;
}
body .yd-layout section #swiper2 .swiper-wrapper .four {
  background: blue;
}
body .yd-layout section #swiper3 {
  width: 30%;
  height: 200px;
  position: absolute;
  bottom: 0;
  right: 0;
}
body .yd-layout section #swiper3 .swiper-wrapper .noe {
  background: #daa520;
}
body .yd-layout section #swiper3 .swiper-wrapper .two {
  background: #C2495E;
}
body .yd-layout section #swiper3 .swiper-wrapper .three {
  background: #3CD28F;
}
body .yd-layout section #swiper3 .swiper-wrapper .four {
  background: #B6539A;
}
body .yd-layout section .ydlm-section-img {
  width: 100%;
}
body .yd-layout section .ydlm-section-img img {
  width: 70%;
  height: 400px;
}
body .yd-layout section #ydlm-section-div {
  width: 70%;
  height: 400px;
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
  line-height: 50px;
}
body .yd-layout section #ydlm-section-div p {
  color: #fff;
  font-size: 20px;
  padding: 50px 0 0 0;
}
body .yd-layout .section {
  width: 100%;
  height: 500px;
}
body .yd-layout .section .section-left {
  float: left;
  width: 50%;
  height: 100%;
  background: url(../img/6.jpg);
}
body .yd-layout .section .section-left div {
  text-align: center;
  line-height: 500px;
}
body .yd-layout .section .section-left div p {
  color: #fff;
  font-size: 20px;
}
body .yd-layout .section .section-right {
  position: relative;
  float: right;
  width: 50%;
  height: 100%;
}
body .yd-layout .section .section-right img {
  width: 100%;
  height: 100%;
}
body .yd-layout .section .section-right .section-right-bgc {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
body .yd-layout .section .section-right .section-right-bgc p {
  text-align: center;
  line-height: 500px;
  color: #fff;
  font-size: 20px;
}
@keyframes da {
  0% {
    opacity: 0;
    font-size: 0rem;
  }
  100% {
    opacity: 1;
    font-size: 1.5rem;
    font-weight: 700;
  }
}
